{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h1>Login</h1>
        {# Login failed alert. #}
        {% if form.errors or error %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> Your email and password didn't match. Please try again.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary">Sign In</button>
            </div>
        </form>

    </div>
{% endblock %}