[Unit]
Description=Over the Air update server
After=network.target

[Service]
User=root
Group=pidevs
ExecStart=/home/metonimie/ota/server
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
Environment="OTA_USERNAME=default"
Environment="OTA_PASSWORD=ota"
Environment="OTA_PORT=1312"

[Install]
WantedBy=multi-user.target
