[Unit]
Description=Webserver for Django
After=network.target

[Service]
User=root
Group=pidevs
ExecStart=/usr/local/bin/gunicorn --workers 2 --bind unix:/home/metonimie/BLECar/BLECarPiZeroW/ccserver/ccserver.sock ccserver.wsgi:application
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
Autostart=true
Autorestart=true
stderr_logfile=/var/log/gunicorn/gunicorn.out.log 
stdout_logfile=/var/log/gunicorn/gunicorn.err.log
Environment="PYTHONPATH=$PYTHONPATH:/home/metonimie/BLECar/BLECarPiZeroW/ccserver"

[Install]
WantedBy=multi-user.target
