[Unit]
Description=A systemd service for the UltrasonicSensor component.
After=network.target

[Service]
User=root
Group=pidevs
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/0/bus
ExecStart=/usr/bin/python3 /home/vendetta/PiCar/dbusObjects/UltrasonicSensorDBUS.py
ExecStop=/usr/bin/dbus-send --print-reply --dest=picar.sensor.ultrasonic /picar/sensor/ultrasonic picar.sensor.ultrasonic.quit

[Install]
WantedBy=multi-user.target