[Unit]
Description=Video Streaming service using PiCamera
After=network.target

[Service]
User=vendetta
IgnoreSIGPIPE=false
ExecStart=/home/vendetta/PiCar/scripts/picamera_start.sh

[Install]
WantedBy=multi-user.target
